* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 700px;
    height: 300px;
    overflow: hidden;
}

svg {
    height: 100%;
}

body {
    /*background-color: #251203;*/
    /*background-color: #111111;*/
    background-color: #292017;

    height: 100%;
}

svg path{
    fill: #a27f47;
    stroke: #2c1c12;
    stroke-width: .25;
}

svg path:hover{
    fill: #42ce26;
    transition: 0.6s;
    cursor: pointer;
}

.Notes{
    fill: rgb(134, 70, 44);
}